.widged-item {
  background-color: #eee;
  border-radius: 5px;
  height: auto;
  margin: 40px 0 8px 0;
  border-left: 10px solid rgb(0, 253, 55);
  border-right: 10px solid rgb(0, 253, 55);
  box-shadow: 2px 3px 10px 3px rgb(170, 167, 167);  
}

/* header */
.widged-item__header{

}
.widged-item__header--logo{

}
.widged-item__header--logo img{

}
.widged-item__header--description{

}
.widged-item__header--description p{

}

/* content */

.widged-item__content{

}
.widged-item__content--description{

}
.widged-item__content--description p{
  
}
.widged-item__content--graphic{
  
}